.container-fluid {
    margin-bottom: 50px;
}

.card-fav-title {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
}

.card-fav-type {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 1000;
}